#logout{
    width: 8%;
    background-color: rgb(120, 173, 243);
    color: black;
    font-size: medium;
  
  margin-left: 90%;
  margin-top: 10%;
  
  }
  body{
	background-color: black;
	background-image: url("../Pic/Wallpaper.jpg");
	background-attachment: fixed;

}
h1{
    -webkit-text-stroke: 0.6px rgb(25, 0, 255);
	color: rgb(4, 161, 161);
	font-size: 50px;
	text-align: center;
	font-family: cursive;
	margin-top: 3px;
	margin-bottom: 3px;
}	