#logout{
    width: 8%;
    background-color: rgb(120, 173, 243);
    color: black;
    font-size: medium;
  
  margin-left: 90%;
  margin-top: 10%;
  
  }
  body{
	background-color: black;
	background-image: url("../Pic/Wallpaper.jpg");
	background-attachment: fixed;

}
h1{
    -webkit-text-stroke: 0.6px rgb(25, 0, 255);
	color: rgb(4, 161, 161);
	font-size: 50px;
	text-align: center;
	font-family: cursive;
	margin-top: 3px;
	margin-bottom: 3px;
}	
.Deals{
    font-size: xx-large;
    color: #c705c7;
  }
  .menu{
	font-size: x-large;
	text-decoration: none;
	font-weight: bold;
	color: rgba(233, 83, 238, 0.486);

	
word-spacing: 50px;
background-image:linear-gradient(rgb(44, 44, 247) , rgba(174, 122, 243, 0.644));
}
.menu a{
	text-decoration: none;
	-webkit-text-stroke: 0.2px rgb(44, 5, 107);
	text-align: center;
	padding: 30px;
	font-family: fantasy;
}
.menu a:hover{color: rgb(72, 132, 243); }
.menu .Home:hover{color: rgb(211, 81, 180); }
.menu .Home {
	font-size: xx-large;
	color: black;
	
}
* {
    box-sizing: border-box;
  }
 /* Position the image container (needed to position the left and right arrows) */
 .container {
    position: relative;
    display: grid;
    grid-template-columns: 60% 15% 25%;
    margin: 70px;
  }  
    /* Hide the images by default */
    .mySlides {
        display: none;
        
      }
      
      /* Add a pointer when hovering over the thumbnail images */
      .cursor {
        cursor: pointer;
      }
      