*{
	text-decoration: none;
}
body{
	background-color: black;
	background-image: url("../Pic/Wallpaper.jpg");
	background-attachment: fixed;

}
h1{
    -webkit-text-stroke: 0.6px rgb(25, 0, 255);
	color: rgb(4, 161, 161);
	text-shadow: black ;
	font-size: 50px;
	text-align: center;
	font-family: cursive;
	margin-top: 3px;
	margin-bottom: 3px;
}	
